/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/logs/
/spring-boot-dubbo/target/
/spring-boot-consumer/target/
/spring-boot-api/target/
/spring-boot-model/target/
/spring-boot-config/target/
/spring-boot-jsoup/target/
/spring-boot-task/target/