<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.springqianbailu.dao.viewtype.ActionMapper">
  <resultMap id="BaseResultMap" type="com.open.springqianbailu.model.table.viewtype.Action">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="item_id" jdbcType="INTEGER" property="item_id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="extra" jdbcType="VARCHAR" property="extra" />
    <result column="log_code" jdbcType="VARCHAR" property="log_code" />
  </resultMap>

  <sql id="Base_Column_List">
        id, item_id,type, path,extra,log_code
    </sql>

  <delete id="dropTable">
        drop table if exists view_type_action
    </delete>

  <insert id="createTable">
    CREATE TABLE `view_type_action` (
    `id` int(11) NOT NULL AUTO_INCREMENT,
    `item_id` int(11) NOT NULL,
    `type` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    `path` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    `extra` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    `log_code` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    PRIMARY KEY (`id`,`item_id`) USING BTREE
  ) ENGINE=InnoDB AUTO_INCREMENT=0 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;

  </insert>

  <select id="selectByItemId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from view_type_action
    where item_id = #{item_id,jdbcType=INTEGER}
  </select>


  <insert id="insert" parameterType="com.open.springqianbailu.model.table.viewtype.Action">
    insert into view_type_action ( item_id, type,
      path, extra, log_code
      )
    values ( #{item_id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR},
      #{path,jdbcType=VARCHAR}, #{extra,jdbcType=VARCHAR}, #{log_code,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.open.springqianbailu.model.table.viewtype.Action">
    insert into view_type_action
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="item_id != null">
        item_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="extra != null">
        extra,
      </if>
      <if test="log_code != null">
        log_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="item_id != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="extra != null">
        #{extra,jdbcType=VARCHAR},
      </if>
      <if test="log_code != null">
        #{log_code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>