<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.springqianbailu.dao.HomeAppinfoTableMapper">
  <resultMap id="BaseResultMap" type="com.open.springqianbailu.model.table.HomeAppinfoTable">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="tab_name" jdbcType="VARCHAR" property="tab_name" />
    <result column="tab_api" jdbcType="VARCHAR" property="tab_api" />
    <result column="word_selected_color" jdbcType="VARCHAR" property="word_selected_color" />
    <result column="word_unselected_color" jdbcType="VARCHAR" property="word_unselected_color" />
    <result column="bg_img" jdbcType="VARCHAR" property="bg_img" />
    <result column="bg_img_webp" jdbcType="VARCHAR" property="bg_img_webp" />
  </resultMap>

  <sql id="Base_Column_List">
    id,tab_name,tab_api,word_selected_color,word_unselected_color,bg_img,bg_img_webp
  </sql>

  <delete id="dropTable">
    DROP TABLE IF EXISTS `home_appinfo`;
  </delete>

  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from home_appinfo
  </select>


  <insert id="createTable">
    CREATE TABLE `home_appinfo` (
    `id` int(11) NOT NULL AUTO_INCREMENT,
    `tab_name` varchar(255) COLLATE utf8_bin DEFAULT NULL COMMENT '名称',
    `tab_api` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    `word_selected_color` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    `word_unselected_color` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    `bg_img` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    `bg_img_webp` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    PRIMARY KEY (`id`)
  ) ENGINE=InnoDB AUTO_INCREMENT=0 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
  </insert>

  <!--批量添加-->
  <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
    insert into home_appinfo
    (tab_name, tab_api,
    word_selected_color, word_unselected_color,
    bg_img, bg_img_webp)
    values
    <foreach collection="list" item="item" index="index"
             separator=",">
      (
      #{item.tab_name,jdbcType=VARCHAR},
      #{item.tab_api,jdbcType=VARCHAR},
      #{item.word_selected_color,jdbcType=VARCHAR},
      #{item.word_unselected_color,jdbcType=VARCHAR},
      #{item.bg_img,jdbcType=VARCHAR},
      #{item.bg_img_webp,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <insert id="insert" parameterType="com.open.springqianbailu.model.table.HomeAppinfoTable">
    insert into home_appinfo (id, tab_name, tab_api, 
      word_selected_color, word_unselected_color,
      bg_img, bg_img_webp
      )
    values (#{id,jdbcType=INTEGER}, #{tab_name,jdbcType=VARCHAR}, #{tab_api,jdbcType=VARCHAR},
      #{word_selected_color,jdbcType=VARCHAR}, #{word_unselected_color,jdbcType=VARCHAR},
      #{bg_img,jdbcType=VARCHAR}, #{bg_img_webp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.open.springqianbailu.model.table.HomeAppinfoTable">
    insert into home_appinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tab_name != null">
        tab_name,
      </if>
      <if test="tab_api != null">
        tab_api,
      </if>
      <if test="word_selected_color != null">
        word_selected_color,
      </if>
      <if test="word_unselected_color != null">
        word_unselected_color,
      </if>
      <if test="bg_img != null">
        bg_img,
      </if>
      <if test="bg_img_webp != null">
        bg_img_webp,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tab_name != null">
        #{tab_name,jdbcType=VARCHAR},
      </if>
      <if test="tab_api != null">
        #{tab_api,jdbcType=VARCHAR},
      </if>
      <if test="word_selected_color != null">
        #{word_selected_color,jdbcType=VARCHAR},
      </if>
      <if test="word_unselected_color != null">
        #{word_unselected_color,jdbcType=VARCHAR},
      </if>
      <if test="bg_img != null">
        #{bg_img,jdbcType=VARCHAR},
      </if>
      <if test="bg_img_webp != null">
        #{bg_img_webp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>