<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.springqianbailu.dao.viewtype.ItemMapper">
  <resultMap id="BaseResultMap" type="com.open.springqianbailu.model.table.viewtype.Item">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="sections_index" jdbcType="INTEGER" property="sections_index" />
    <result column="img_url" jdbcType="VARCHAR" property="img_url" />
    <result column="img_url_webp" jdbcType="VARCHAR" property="img_url_webp" />
    <result column="img_url_color" jdbcType="VARCHAR" property="img_url_color" />
    <result column="w" jdbcType="INTEGER" property="w" />
    <result column="h" jdbcType="INTEGER" property="h" />
    <result column="ad_position_id" jdbcType="INTEGER" property="ad_position_id" />
    <result column="material_id" jdbcType="INTEGER" property="material_id" />
    <result column="view_type" jdbcType="VARCHAR" property="view_type" />
    <result column="stat" jdbcType="VARCHAR" property="stat" />
    <result column="line_color" jdbcType="VARCHAR" property="line_color" />
    <result column="line_height" jdbcType="VARCHAR" property="line_height" />
    <result column="title_logo_url" jdbcType="VARCHAR" property="title_logo_url" />

  </resultMap>

  <sql id="Base_Column_List">
        id, sections_index,img_url, img_url_webp,img_url_color,w,h,ad_position_id,view_type,stat,line_color,line_height,title_logo_url
    </sql>

  <delete id="dropTable">
        drop table if exists view_type_item
    </delete>

  <insert id="createTable">
  CREATE TABLE `view_type_item` (
    `id` int(11) NOT NULL AUTO_INCREMENT,
    `sections_index` int(11) DEFAULT NULL,
    `img_url` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    `img_url_webp` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    `img_url_color` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    `w` int(11) unsigned zerofill DEFAULT NULL,
    `h` int(11) unsigned zerofill DEFAULT NULL,
    `ad_position_id` int(11) DEFAULT NULL,
    `material_id` int(11) DEFAULT NULL,
    `view_type` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    `stat` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    `line_color` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    `line_height` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    `title_logo_url` varchar(255) COLLATE utf8_bin DEFAULT NULL,
    PRIMARY KEY (`id`)
  ) ENGINE=InnoDB AUTO_INCREMENT=0 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;

  </insert>

  <select id="selectByViewType" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from view_type_item
    where view_type = #{view_type,jdbcType=VARCHAR}
  </select>

  <insert id="insert" useGeneratedKeys="true"  keyProperty="id"  parameterType="com.open.springqianbailu.model.table.viewtype.Item">
    insert into view_type_item (id, sections_index, img_url, 
      img_url_webp, img_url_color, w, 
      h, ad_position_id, material_id, 
      view_type, stat,line_color,line_height,title_logo_url)
    values (#{id,jdbcType=INTEGER}, #{sections_index,jdbcType=INTEGER}, #{img_url,jdbcType=VARCHAR},
      #{img_url_webp,jdbcType=VARCHAR}, #{img_url_color,jdbcType=VARCHAR}, #{w,jdbcType=INTEGER},
      #{h,jdbcType=INTEGER}, #{ad_position_id,jdbcType=INTEGER}, #{material_id,jdbcType=INTEGER},
      #{view_type,jdbcType=VARCHAR}, #{stat,jdbcType=VARCHAR}, #{line_color,jdbcType=VARCHAR}, #{line_height,jdbcType=VARCHAR}
      , #{title_logo_url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.open.springqianbailu.model.table.viewtype.Item">
    insert into view_type_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sections_index != null">
        sections_index,
      </if>
      <if test="img_url != null">
        img_url,
      </if>
      <if test="img_url_webp != null">
        img_url_webp,
      </if>
      <if test="img_url_color != null">
        img_url_color,
      </if>
      <if test="w != null">
        w,
      </if>
      <if test="h != null">
        h,
      </if>
      <if test="ad_position_id != null">
        ad_position_id,
      </if>
      <if test="material_id != null">
        material_id,
      </if>
      <if test="view_type != null">
        view_type,
      </if>
      <if test="stat != null">
        stat,
      </if>
      <if test="line_color != null">
        line_color,
      </if>
      <if test="line_height != null">
        line_height,
      </if>
      <if test="title_logo_url != null">
        title_logo_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sections_index != null">
        #{sections_index,jdbcType=INTEGER},
      </if>
      <if test="img_url != null">
        #{img_url,jdbcType=VARCHAR},
      </if>
      <if test="img_url_webp != null">
        #{img_url_webp,jdbcType=VARCHAR},
      </if>
      <if test="img_url_color != null">
        #{img_url_color,jdbcType=VARCHAR},
      </if>
      <if test="w != null">
        #{w,jdbcType=INTEGER},
      </if>
      <if test="h != null">
        #{h,jdbcType=INTEGER},
      </if>
      <if test="ad_position_id != null">
        #{ad_position_id,jdbcType=INTEGER},
      </if>
      <if test="material_id != null">
        #{material_id,jdbcType=INTEGER},
      </if>
      <if test="view_type != null">
        #{view_type,jdbcType=VARCHAR},
      </if>
      <if test="stat != null">
        #{stat,jdbcType=VARCHAR},
      </if>

      <if test="line_color != null">
        #{line_color,jdbcType=VARCHAR},
      </if>
      <if test="line_height != null">
        #{line_height,jdbcType=VARCHAR},
      </if>
      <if test="title_logo_url != null">
        #{title_logo_url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>