<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.springqianbailu.dao.novel.NovelPageMapper">
  <resultMap id="BaseResultMap" type="com.open.springqianbailu.model.table.novel.NovelPage">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="novel_artcile_id" jdbcType="INTEGER" property="novel_artcile_id" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="page" jdbcType="INTEGER" property="page" />
  </resultMap>
  <sql id="Base_Column_List">
    id, novel_artcile_id,href, page
  </sql>

  <delete id="dropTable">
    drop table if exists novel_page
  </delete>

  <insert id="createTable">
    CREATE TABLE `novel_page` (
        `id` int(11) NOT NULL AUTO_INCREMENT,
        `novel_artcile_id` int(11) NOT NULL,
        `href` varchar(255) COLLATE utf8_bin DEFAULT NULL,
        `page` int(11) DEFAULT NULL COMMENT '页顺序',
        PRIMARY KEY (`id`,`novel_artcile_id`)
    ) ENGINE=InnoDB   AUTO_INCREMENT=0 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
  </insert>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.open.springqianbailu.model.table.novel.NovelPage">
    insert into novel_page (id, novel_artcile_id, href, 
      page)
    values (#{id,jdbcType=INTEGER}, #{novel_artcile_id,jdbcType=INTEGER}, #{href,jdbcType=VARCHAR},
      #{page,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.open.springqianbailu.model.table.novel.NovelPage">
    insert into novel_page
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="novel_artcile_id != null">
        novel_artcile_id,
      </if>
      <if test="href != null">
        href,
      </if>
      <if test="page != null">
        page,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="novel_artcile_id != null">
        #{novel_artcile_id,jdbcType=INTEGER},
      </if>
      <if test="href != null">
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="page != null">
        #{page,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>