<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.springqianbailu.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="com.open.springqianbailu.model.Menu">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="href" jdbcType="VARCHAR" property="href"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, title, href,type
    </sql>
    <insert id="insert" parameterType="com.open.springqianbailu.model.Menu">
    insert into menu (title, href,
      type)
    values (#{title,jdbcType=VARCHAR}, #{href,jdbcType=VARCHAR},
      #{type,jdbcType=INTEGER})
  </insert>

    <select id="selectAll" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from menu
    </select>

    <select id="updateById"  parameterType="com.open.springqianbailu.model.Menu" >
        update menu
        <set >
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="href != null" >
                href = #{href,jdbcType=VARCHAR},
            </if>
            type = #{type,jdbcType=INTEGER},
        </set>
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insertSelective" parameterType="com.open.springqianbailu.model.Menu">
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="href != null">
                href,
            </if>
            <if test="type != null">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="href != null">
                #{href,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
</mapper>