<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.springqianbailu.dao.SliderMapper">
  <resultMap id="BaseResultMap" type="com.open.springqianbailu.model.Slider">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="log_code" jdbcType="VARCHAR" property="logCode" />
    <result column="src" jdbcType="VARCHAR" property="src" />
    <result column="srcset" jdbcType="VARCHAR" property="srcset" />
  </resultMap>

    <sql id="Base_Column_List">
        id, href, log_code,src,srcset
    </sql>

  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from slider
  </select>

  <insert id="insert" parameterType="com.open.springqianbailu.model.Slider">
    insert into slider (id, href, log_code, 
      src, srcset)
    values (#{id,jdbcType=INTEGER}, #{href,jdbcType=VARCHAR}, #{logCode,jdbcType=VARCHAR}, 
      #{src,jdbcType=VARCHAR}, #{srcset,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.open.springqianbailu.model.Slider">
    insert into slider
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="href != null">
        href,
      </if>
      <if test="logCode != null">
        log_code,
      </if>
      <if test="src != null">
        src,
      </if>
      <if test="srcset != null">
        srcset,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="href != null">
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="logCode != null">
        #{logCode,jdbcType=VARCHAR},
      </if>
      <if test="src != null">
        #{src,jdbcType=VARCHAR},
      </if>
      <if test="srcset != null">
        #{srcset,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>