<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.springqianbailu.dao.xiaomi.TabCfgTableMapper">
  <resultMap id="BaseResultMap" type="com.open.springqianbailu.model.xiaomi.TabCfgTable">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="icon_normal" jdbcType="VARCHAR" property="iconNormal" />
    <result column="icon_selected" jdbcType="VARCHAR" property="iconSelected" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="text_color_normal" jdbcType="VARCHAR" property="textColorNormal" />
    <result column="text_color_selected" jdbcType="VARCHAR" property="textColorSelected" />
    <result column="show" jdbcType="VARCHAR" property="show" />
  </resultMap>

  <delete id="dropTable">
    drop table if exists tabcfg
  </delete>

  <insert id="createTable">
    CREATE TABLE `tabcfg` (
      `id` int(11) NOT NULL AUTO_INCREMENT,
      `icon_normal` varchar(255) COLLATE utf8_bin DEFAULT NULL COMMENT '正常图片地址',
      `icon_selected` varchar(255) COLLATE utf8_bin DEFAULT NULL COMMENT '选中的图片',
      `name` varchar(255) COLLATE utf8_bin DEFAULT NULL,
      `type` varchar(255) COLLATE utf8_bin DEFAULT NULL,
      `text_color_normal` varchar(255) COLLATE utf8_bin DEFAULT NULL,
      `text_color_selected` varchar(255) COLLATE utf8_bin DEFAULT NULL,
      `show` varchar(255) COLLATE utf8_bin DEFAULT NULL,
      PRIMARY KEY (`id`)
    ) ENGINE=InnoDB  AUTO_INCREMENT=0  DEFAULT CHARSET=utf8 COLLATE=utf8_bin;

  </insert>

  <insert id="insert" parameterType="com.open.springqianbailu.model.xiaomi.TabCfgTable">
    insert into tabcfg(icon_normal,icon_selected,name,type,text_color_normal,text_color_selected)
    values (#{iconNormal,jdbcType=VARCHAR},#{iconSelected,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{textColorNormal,jdbcType=VARCHAR}, 
      #{textColorSelected,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.open.springqianbailu.model.xiaomi.TabCfgTable">
    insert into tabcfg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="iconNormal != null">
        icon_normal,
      </if>
      <if test="iconSelected != null">
        icon_selected,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="textColorNormal != null">
        text_color_normal,
      </if>
      <if test="textColorSelected != null">
        text_color_selected,
      </if>
      <if test="show != null">
        show,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="iconNormal != null">
        #{iconNormal,jdbcType=VARCHAR},
      </if>
      <if test="iconSelected != null">
        #{iconSelected,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="textColorNormal != null">
        #{textColorNormal,jdbcType=VARCHAR},
      </if>
      <if test="textColorSelected != null">
        #{textColorSelected,jdbcType=VARCHAR},
      </if>
      <if test="show != null">
        #{show,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>