<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.open.springqianbailu.dao.UserDao" >
    <resultMap id="BaseResultMap" type="com.open.springqianbailu.model.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="userName" jdbcType="VARCHAR" />
        <result column="pwd" property="password" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, name, pwd
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.open.springqianbailu.model.User" >
        insert into user (id, name, pwd)
        values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.open.springqianbailu.model.User" >
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userName != null" >
                name,
            </if>
            <if test="password != null" >
                pwd,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userName != null" >
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{pwd,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.open.springqianbailu.model.User" >
        update user
        <set >
            <if test="userName != null" >
                name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                pwd = #{password,jdbcType=VARCHAR},
            </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.open.springqianbailu.model.User" >
        update user
        set name = #{userName,jdbcType=VARCHAR},
        pwd = #{password,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>