<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.springqianbailu.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="com.open.springqianbailu.model.table.Menu">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="href" jdbcType="VARCHAR" property="href"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="updateTime" jdbcType="VARCHAR" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, title, href,type,updateTime
    </sql>
    <insert id="insert" parameterType="com.open.springqianbailu.model.table.Menu">
    insert into menu (title, href,
      type,updateTime)
    values (#{title,jdbcType=VARCHAR}, #{href,jdbcType=VARCHAR},
      #{type,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR})
  </insert>

    <select id="selectAll" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from menu
    </select>

    <delete id="dropTable">
        drop table if exists menu
    </delete>

    <insert id="createTable">
        CREATE TABLE menu (
          id int(11) NOT NULL AUTO_INCREMENT,
          title varchar(255) COLLATE utf8_bin NOT NULL COMMENT 'menu标题',
          type int(255) NOT NULL COMMENT '类型0:图片1:小说2视频3电影',
          href varchar(255) COLLATE utf8_bin NOT NULL COMMENT 'menu地址',
          updateTime varchar(255) COLLATE utf8_bin DEFAULT NULL COMMENT '更新时间',
          PRIMARY KEY (id)
        ) ENGINE=InnoDB AUTO_INCREMENT=0 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
    </insert>

    <select id="updateById"  parameterType="com.open.springqianbailu.model.table.Menu" >
        update menu
        <set >
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="href != null" >
                href = #{href,jdbcType=VARCHAR},
            </if>
            type = #{type,jdbcType=INTEGER},
            <if test="updateTime != null" >
                updateTime = #{updateTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--批量添加-->
    <insert id="insertBatch" parameterType="java.util.List"  useGeneratedKeys="true">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        insert into menu
        (title, href, type, updateTime)
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (
            #{item.title,jdbcType=VARCHAR},
            #{item.href,jdbcType=VARCHAR},
            #{item.type,jdbcType=INTEGER},
            #{item.updateTime,jdbcType=VARCHAR}
             )
        </foreach>
    </insert>


    <insert id="insertSelective" parameterType="com.open.springqianbailu.model.table.Menu">
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="href != null">
                href,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="href != null">
                #{href,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>